<div class="nav">
  <h2>账单明细</h2>
</div>
<div class="items">
  <% if @items.any? %>
    <%= render 'list' %>
  <% else %>
    <p>什么都没有，快去记一笔吧！</p>
  <% end %>
</div>

<div id="editModal" class="modal fade" tabindex="-1" role="dialog">
</div><!-- /.modal -->
