<div class="header">
  <div class="month col-xs-6"></div>
  <div class="col-xs-6">
    <div class="dropdown text-right">
      <button type="button" id="month_change" data-toggle="dropdown">
        <i class="fa fa-calendar fa-2x"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="month_change">
        <% 5.times.each do |i| %>
          <li><%= month_format(Time.current - i.month) %></li>
        <% end %>
      </ul>
    </div>
    <div class="total_amount">
      <h4>总收入 <span class="incomes"></span>元</h4>
      <h4>总支出 <span class="expense"></span>元</h4>
    </div>
  </div>
</div>

<canvas id="myChart" width="400" height="400"></canvas>
<%= hidden_field_tag 'open_id', params[:open_id] %>
<%= hidden_field_tag 'month', @month %>
