<div class="nav">
  <h1>周报表</h1>
  <%= content_tag 'canvas', id: 'weekly_chart', data: {labels: @weekly[:labels], expense: @weekly[:expense], total_expense: @total_expense} do %>
    Loading chart...
  <% end %>
</div>
