.logs td {
  padding: 15px !important;
}
.logs .footer {
  margin-top: 10px;
  font-size: 10px;
}
.logs .actions {
  float: right;
  font-size: 15px;
  margin-top: -5px;
}

.edit_log {
  margin: 20% auto;
}
